<div class="ui message">
  <i class="large icons">
    <i class="user icon"></i>
    <i class="inverted corner add icon"></i>
  </i>
  <div class="content">
    <div class="header">Developer</div>
    Création d'un développeur
  </div>
  </div>
<form class="ui form">
  <div class="field">
    <label for="identity">Identity</label>
    {{input id="identity" value=model.identity}}
  </div>
</form>
<div class="ui segment">
  <a {{action "save" model}} class="ui positive button">Ajouter</a>
  <a {{action "cancel" model}} class="ui button">Annuler</a>
</div>
{{outlet}}