<div class="ui container">
  <div class="ui secondary  menu">
    {{#link-to "index" class="item"}}
      Home
    {{/link-to}}
    {{#link-to "projects" class="item"}}
      Projects
    {{/link-to}}
    {{#link-to "developers" class="item"}}
      Developers
    {{/link-to}}
    {{#link-to "tags" class="item"}}
      Tags
    {{/link-to}}
    {{#link-to "steps" class="item"}}
      Steps
    {{/link-to}}
<<<<<<< HEAD
=======
    {{#link-to "tasks" class="item"}}
      Tasks
    {{/link-to}}


>>>>>>> 94e469951fe888a6b69db020a519043f01da220f
  </div>
  {{outlet}}
</div>